<div class="container">
  <h1>ACCESSIBILITY TEST APPLICATION</h1>
  <div class="row">
    <div class="col">
      <label>
        static dropdown
        <br>
        <select value="3">
          <option value="1">
            stat1
          </option>
          <option value="2">
            stat2
          </option>
          <option value="3">
            stat3
          </option>
          <option value="4">
            stat4
          </option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label>
        Default select tag in angular
        <br>
        <select [(ngModel)]="selectedListItem">
          <option *ngFor="let item of list"
                  [value]="item">
            {{ item }}
          </option>
        </select>
      </label>
    </div>
    <div class="col-3">
      Selected value: {{ selectedListItem }}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label>
        Kendo dropdown <br>
        <kendo-dropdownlist [data]="items"
                            [(value)]="selectedItem"
                            [textField]="'text'"
                            [valueField]="'value'">
        </kendo-dropdownlist>
      </label>
    </div>
    <div class="col-3">
      Selected value: {{ selectedItem.value }}
    </div>
  </div>
</div>
